.parent{
    height: 450px;
    border: solid black 2px;
    width: fit-content;
    background-color: pink;
    padding:20px;
}

.float{
    float: left;
    margin: 10px;
    width:200px;
}

.p1{
    font-size: large;
    font-weight: 700;
    float:right;
}

.p2{
    background-color: lightgrey;
    margin-top: 40px;
    clear: both ;
    padding: 10px;
    margin-top: 40px;
    
}
