*{
    margin: 0;
    padding:0;
}

.conatiner{
    display: flex;
    height:200px;
    width:800px;
    border: 1px solid black;
    flex-direction:  row row-reverse;

    flex-wrap: wrap;
    /* flex-flow: row wrap;  combination of flex wrap and flex direction */

    justify-content:  space-evenly;
    /* it conatins // flex start // flex end // center // space between // space around // space evenly */

    align-items: flex-start;
    /* it contains // flex start // flex end // center // stretch // baseline */

    align-content:flex-start;
    /* it conatin // flex start // flex end // center // stretch // space between // space around */

    gap:10px;
    /* gap , rowgap , column-gap     single value represent row // and double value represent row and cloumn both*/
    
}

.item{
    height:50px;
    width:180px;
    border: 1px solid black;
    background-color: aquamarine;
}