.container{
    background-color: aqua;
    border: 2px solid black;
    height: 600px;
    width: 700px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header"
                        " main main . sidebar "
                         "footer footer footer footer";
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

/* grid template rows and columns */
.item{
    
    height: 100px;
    width: 100px;
    border: 1px solid red;
    text-align: center;
    align-items: center;
    background-color: black ;

}