body{
    background-color: #121212;
}
.box{
    height: 300px;
    width: 500px;
    background-color: darkcyan;
    border : 10px solid  #4B0082;
    margin-top: 15px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box1{
    height: 200px;
    width: 500px;
    background-color: darkmagenta;
    border : 8px dotted   #4B0082;
    margin-top: 12px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box2{
    height: 200px;
    width: 300px;
    background-color: tomato;
    border : 5px dashed   #4B0082;
    margin-top: 16px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box3{
    height: 500px;
    width: 500px;
    background-color: sandybrown;
    border : 13px double  #4B0082;
    margin-top: 13px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}