/* h1{
    background-color: skyblue;
}

p{
    background-color: green;
    font-size: large;
} */


.parent{
    border: 3px solid black;
    height: 500px;
    width : 65% ;

}

.box{
    height: 300px;
    width: 200px;
    text-align: center;
    display: inline-block;
}

.box1{
    background-color: rgb(180, 255, 29);
    margin: 10px;
    padding: 50px;
} 
.box2{
    background-color: rgb(156, 4, 34);
    margin: 10px;
    padding: 50px;
}
.box3{
    background-color: rgb(83, 238, 186);
    margin: 10px;
    padding: 50px;
}