body{
    border : 3px solid black ; 
    margin: 30px;
    padding: 20px;
    height: 250px ;
    width: 500px;
    text-align: top;
    
}

.box{ 
    font-weight: bold ;
    margin: 20px  ;
    border: 25px solid blue;
    background-color: yellow;
    padding: 40px;
    text-align : center ;
    margin: 40px 2px 5px 20px;
}