body{
    background-color: #121212;
}
.box{
    height: 300px;
    width: 500px;
    background-color: darkcyan;
    border : 5px solid  #4B0082;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box1{
    height: 300px;
    width: 500px;
    background-color: darkmagenta;
    border : 5px dotted   #4B0082;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box2{
    height: 300px;
    width: 500px;
    background-color: tomato;
    border : 5px dashed   #4B0082;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box3{
    height: 300px;
    width: 500px;
    background-color: sandybrown;
    border : 5px double  #4B0082;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}