/* 

body{
    background-color: pink;
    text-align :center;
}

p {
     color:blue;
     background-color: grey;
     padding: 5px;

}

#py{
    color: red;
    background-color: gainsboro;
    
} */

.box{
    height: 300px;
    width: 500px;
    background-color: brown;
    border : 5px solid black;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box1{
    height: 300px;
    width: 500px;
    background-color: brown;
    border : 5px solid black;
    padding-top : 10px;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box2{
    height: 300px;
    width: 500px;
    background-color: brown;
    border : 5px solid black;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box3{
    height: 300px;
    width: 500px;
    background-color: brown;
    border : 5px solid black;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}




.float {
  height: 500px;
  border: solid black 2px;
  width: fit-content;
  background-color: peachpuff;
  padding: 20px;
}
.float img {
  float: left;
  width: 400px;
  height: 200px;
  margin: 20px;
}
.float .p1 {
  font-size: large;
  margin: 20px;
  float: right;
}
.float .p2 {
  clear: both;
  background-color: lightgrey;
  padding: 10px;
  margin-top: 40px;
}